<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Completed ToDo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/completeTodo.css">
</head>
<body>
    <header>
        <h1>ToDo List</h1>
    </header>

    <main>
        <!-- 完了タスクのセクション -->
        <h2>完了したToDo</h2>
        <% if (complete_todos.length > 0) { %>
            <% complete_todos.forEach((todo, index) => { %>
                <div class="card">
                    <div class="card-content">
                        <strong><%= todo.title %></strong> - <%= todo.description %> (完了日: <%= todo.completedDate.toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-') %>)
                    </div>
                    <div class="card-actions">
                        <a href="/todos/complete_todos/delete/<%= index %>"><i class="fas fa-trash-alt btn-icon"></i></a>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p class="empty-state">完了したToDoはありません。</p>
        <% } %>
    </main>

    <div class="btn-container">
        <button class="back-btn" onclick="location.href='/todos'"><i class="fas fa-arrow-left btn-icon"></i> ToDoリストに戻る</button>
    </div>
</body>
</html>
